.is-selected.wp-block-dblocks-dblocks-codepro {
	z-index: 10000 !important;
}

.wp-block-dblocks-dblocks-codepro {
	max-height: fit-content;

	&.is-selected {
	}

	section {
		border: 1px solid;
		border-radius: 2px;
		overflow: hidden;
	}

	.monaco-editor {
		position: absolute;
		border: 1px solid rgba(0, 0, 0, 0.1);
		outline: 0;
	}

	.components-resizable-box__handle {
		background-color: white;
		border: 1px solid #e0e0e0;

		&:after {
			border-radius: 100px;
			box-shadow: unset;
			height: 6px;
			right: calc(50% - 8px);
			top: calc(50% - 4px);
			background: #a4a4a4;
			width: 50px;
		}
	}

	.components-resizable-box__handle-top {
		top: -20px;
	}

	// Custom styles for resize handle
	.code-editor-box {
		.resize-handle {
			height: 10px !important;
			background-color: red !important;
			cursor: ns-resize;
		}
	}

	

	.toggle-in-toolbar {
		padding: 6px 12px;
		display: flex;
		align-items: center;
	}
}



.togglecontrol--with-info {
	position: relative;
	display: flex;
	align-items: flex-start;
	gap: 4px;

	&__icon-wrapper {
		display: flex;
		align-items: center;
		gap: 10px;

		svg {
			position: relative;
			top: -2px;
		}

		p {
			display: none;
		}

		&:hover p {
			display: block;
			position: absolute;
			bottom: 2rem;
			left: 0;
			background-color: black;
			color: white;
			padding: 10px;
			border-radius: 8px;
			width: 100%;
		}
	}
}