.wrap {
    margin: 10px auto;
    max-width: 600px;
}

#dblocks-admin-app {
    margin-top: 1rem;
}

.custom-panel  {
    background-color: white;
    border: 1px solid #ccc;
    margin-bottom: 20px;
    padding: 2rem;
}


.dblocks-admin-actions{ 
    display: flex;
    gap: 1rem;
}