.wp-block-dblocks-dblocks-codepro {
	border: 1px solid black;
    
    > div{
        

        width: 100%;
    }

    &.is-selected{
        
    }

    section {
        border: 1px solid;
        border-radius: 2px;
        overflow: hidden;
    }

    .monaco-editor{
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
        position: absolute;
    }
}