.wp-block-dblocks-dblocks-codepro {
	position: relative;
	
	button {
		position: absolute;
		top: 0.5rem;
		right: 0.5rem;
		padding: 0.5rem 0.75rem;
		border-radius: 4px;
		background-color: rgba(255, 255, 255, 0.1);
		color: white;
		border: 0;
		cursor: pointer;

		&:hover {
			background-color: rgba(255, 255, 255, 0.2);
		}
	}

	&:has(.hsl-light) {
		background-color: #f6f8fa;
	
		.hljs {
			background-color: unset;
		}

		button {
			background-color: rgba(0, 0, 0, 0.1);
			color: black;
		}
	}
}


